## Data Wrangling 

Organize and restructure data from Pew.csv and Billboards.csv using Pandas.

### 1.  Pew research dataset

In [127]:
# Import pandas
import pandas as pd

In [128]:
# import and view the Pew data
pew = pd.read_csv("pew.csv")
pew

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k
0,Agnostic,27,34,60,81,76,137
1,Atheist,12,27,37,52,35,70
2,Buddhist,27,21,30,34,33,58
3,Catholic,418,617,732,670,638,1116
4,Dont know/refused,15,14,15,11,10,35
5,Evangelical Prot,575,869,1064,982,881,1486
6,Hindu,1,9,7,9,11,34
7,Historically Black Prot,228,244,236,238,197,223
8,Jehovahs Witness,20,27,24,24,21,30
9,Jewish,19,19,25,25,30,95

Looking at the data, it's clear the data isn't in a tidy format. Columns after `religion` are all measuring the same quantity which is income. 

Converting this into a tidy format would mean ensuring that each column is a single uniqe variable. The variables will be:
* religion
* income_range
* frequency

Inspect the data types of the data set prior to modifying the structure.

In [129]:
pew.dtypes

religion    object
<$10k        int64
$10-20k      int64
$20-30k      int64
$30-40k      int64
$40-50k      int64
$50-75k      int64
dtype: object

The output above shows `religion` is stored as a string (pandas object) with the other columns stored as integers. The columns to be created to resturcture the data into a tidy format will need `religion` as a string, `income_range` also as a string, and `frequency` as an integer.

Rename columns taking away the **'$'** sign, this will be redundant once they're combined into one column. The column name will specify the currency.

In [130]:
pew = pew.rename(columns = {'<$10k':'<10k', '$10-20k':'10-20k','$20-30k':'20-30k',
                      '$30-40k':'30-40k','$40-50k':'40-50k','$50-75k':'50-75k'})
pew.columns

Index(['religion', '<10k', '10-20k', '20-30k', '30-40k', '40-50k', '50-75k'], dtype='object')

In [131]:
melted_pew = pd.melt(pew, id_vars = ['religion'], 
                     value_vars = ['<10k','10-20k','20-30k','30-40k','40-50k','50-75k'],
                     value_name = 'frequency',var_name = 'income_range_$')
melted_pew

                    religion income_range_$  frequency
0                   Agnostic           <10k         27
1                    Atheist           <10k         12
2                   Buddhist           <10k         27
3                   Catholic           <10k        418
4          Dont know/refused           <10k         15
5          Evangelical Prot            <10k        575
6                     Hindu            <10k          1
7   Historically Black Prot            <10k        228
8          Jehovahs Witness            <10k         20
9                    Jewish            <10k         19
10                  Agnostic         10-20k         34
11                   Atheist         10-20k         27
12                  Buddhist         10-20k         21
13                  Catholic         10-20k        617
14         Dont know/refused         10-20k         14
15         Evangelical Prot          10-20k        869
16                    Hindu          10-20k          9
17  Historically Black Prot          10-20k        244
18         Jehovahs Witness          10-20k         27
19                   Jewish          10-20k         19
20                  Agnostic         20-30k         60
21                   Atheist         20-30k         37
22                  Buddhist         20-30k         30
23                  Catholic         20-30k        732
24         Dont know/refused         20-30k         15
25         Evangelical Prot          20-30k       1064
26                    Hindu          20-30k          7
27  Historically Black Prot          20-30k        236
28         Jehovahs Witness          20-30k         24
29                   Jewish          20-30k         25
30                  Agnostic         30-40k         81
31                   Atheist         30-40k         52
32                  Buddhist         30-40k         34
33                  Catholic         30-40k        670
34         Dont know/refused         30-40k         11
35         Evangelical Prot          30-40k        982
36                    Hindu          30-40k          9
37  Historically Black Prot          30-40k        238
38         Jehovahs Witness          30-40k         24
39                   Jewish          30-40k         25
40                  Agnostic         40-50k         76
41                   Atheist         40-50k         35
42                  Buddhist         40-50k         33
43                  Catholic         40-50k        638
44         Dont know/refused         40-50k         10
45         Evangelical Prot          40-50k        881
46                    Hindu          40-50k         11
47  Historically Black Prot          40-50k        197
48         Jehovahs Witness          40-50k         21
49                   Jewish          40-50k         30
50                  Agnostic         50-75k        137
51                   Atheist         50-75k         70
52                  Buddhist         50-75k         58
53                  Catholic         50-75k       1116
54         Dont know/refused         50-75k         35
55         Evangelical Prot          50-75k       1486
56                    Hindu          50-75k         34
57  Historically Black Prot          50-75k        223
58         Jehovahs Witness          50-75k         30
59                   Jewish          50-75k         95

In [132]:
# check column types to make sure they're the right format
melted_pew.dtypes

religion          object
income_range_$    object
frequency          int64
dtype: object

And that's it, the pew.csv data set has been converted into a tidy format. Each row is an observation (religion) and each column is a unique variable.

- [x] Rename columns that are problematic.
- [x] Put this dataset in a tidy format
- [x] The final output should have the following columns and datatypes:
    * religion - string,
    * income_range - string,
    * frequency - integer

### 2. Billboard weekly music rank dataset

In [133]:
# import and view the Billboard data
billboard = pd.read_csv("billboard.csv")
billboard.head(5)

,artiste,track,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,x4th.week,x5th.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,78,63.0,49.0,33.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,15,8.0,6.0,5.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,71,48.0,43.0,31.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Madonna,Music,Rock,2000-08-12,2000-09-16,41,23.0,18.0,14.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,57,47.0,45.0,29.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Merge all the columns labeled `x1st.week`**...**`x76th.week` into one column `week`.

In [134]:
billboard.iloc[:,6:] # select

,x2nd.week,x3rd.week,x4th.week,x5th.week,x6th.week,x7th.week,x8th.week,x9th.week,x10th.week,x11th.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,63.0,49.0,33.0,23.0,15.0,7.0,5.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8.0,6.0,5.0,2.0,3.0,2.0,2.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,48.0,43.0,31.0,20.0,13.0,7.0,6.0,4.0,4.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,23.0,18.0,14.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,47.0,45.0,29.0,23.0,18.0,11.0,9.0,9.0,11.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,52.0,43.0,30.0,29.0,22.0,15.0,10.0,10.0,5.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,83.0,44.0,38.0,16.0,13.0,16.0,16.0,16.0,18.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,45.0,34.0,23.0,17.0,12.0,9.0,8.0,8.0,6.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,66.0,61.0,61.0,61.0,55.0,2.0,1.0,1.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,54.0,44.0,39.0,38.0,33.0,29.0,29.0,32.0,27.0,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,70.0,51.0,39.0,26.0,19.0,15.0,9.0,7.0,7.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,51.0,28.0,18.0,13.0,13.0,11.0,1.0,1.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,61.0,53.0,46.0,40.0,33.0,31.0,26.0,22.0,19.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,78.0,76.0,74.0,70.0,68.0,74.0,75.0,69.0,74.0,70.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,53.0,38.0,28.0,21.0,18.0,16.0,14.0,12.0,10.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,37.0,29.0,24.0,22.0,21.0,18.0,16.0,13.0,12.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,68.0,50.0,50.0,41.0,37.0,26.0,22.0,22.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,68.0,62.0,51.0,42.0,35.0,28.0,28.0,28.0,43.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,57.0,52.0,47.0,42.0,31.0,24.0,18.0,17.0,17.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,92.0,81.0,59.0,47.0,42.0,32.0,27.0,18.0,18.0,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,55.0,48.0,39.0,35.0,24.0,3.0,2.0,2.0,4.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,54.0,50.0,43.0,30.0,27.0,21.0,18.0,15.0,13.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,39.0,34.0,26.0,26.0,19.0,2.0,2.0,3.0,6.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,71.0,65.0,62.0,57.0,50.0,40.0,37.0,22.0,18.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,70.0,68.0,67.0,66.0,57.0,54.0,53.0,51.0,51.0,51.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,63.0,35.0,26.0,26.0,23.0,20.0,16.0,13.0,10.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,39.0,30.0,28.0,21.0,19.0,20.0,17.0,17.0,17.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,68.0,44.0,16.0,11.0,9.0,8.0,7.0,8.0,7.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,86.0,69.0,50.0,41.0,33.0,32.0,28.0,28.0,27.0,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,80.0,72.0,69.0,67.0,61.0,54.0,43.0,38.0,24.0,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,87.0,92.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288,96.0,93.0,93.0,93.0,92.0,92.0,92.0,90.0,92.0,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289,88.0,88.0,91.0,95.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290,91.0,90.0,95.0,95.0,99.0,96.0,96.0,92.0,88.0,89.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291,88.0,98.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
292,97.0,89.0,89.0,94.0,90.0,99.0,97.0,98.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
293,98.0,92.0,89.0,92.0,93.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294,89.0,92.0,96.0,96.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295,100.0,98.0,99.0,99.0,99.0,98.0,90.0,99.0,97.0,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,100.0,100.0,90.0,93.0,94.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,92.0,95.0,91.0,91.0,94.0,100.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,91.0,98.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,92.0,97.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300,99.0,99.0,NaN,NaN,98.0,94.0,92.0,95.0,96.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
301,NaN,NaN,95.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
302,93.0,96.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
303,99.0,97.0,97.0,100.0,95.0,99.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
304,97.0,96.0,95.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
305,95.0,99.0,99.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306,96.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307,97.0,97.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,98.0,98.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,98.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,98.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,99.0,99.0,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [135]:
melted_bb =pd.melt(billboard, id_vars = ['artiste','track','genre','date.entered','date.peaked'],
       value_vars = billboard.iloc[:,6:], #columns with .week
       value_name = 'rank', var_name = 'week')
melted_bb.head(5)

,artiste,track,genre,date.entered,date.peaked,week,rank
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,x2nd.week,63.0
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,x2nd.week,8.0
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,x2nd.week,48.0
3,Madonna,Music,Rock,2000-08-12,2000-09-16,x2nd.week,23.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,x2nd.week,47.0

In [136]:
melted_bb.dtypes

artiste          object
track            object
genre            object
date.entered     object
date.peaked      object
week             object
rank            float64
dtype: object

In [137]:
melted_bb['week'] = melted_bb['week'].str.extract('(\d+)').astype(int)

melted_bb.head(5)

,artiste,track,genre,date.entered,date.peaked,week,rank
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,2,63.0
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,2,8.0
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,2,48.0
3,Madonna,Music,Rock,2000-08-12,2000-09-16,2,23.0
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,2,47.0

Create a new column `entered_to_peak` being the number of days between the date the song peaked and the date it entered into the billboard chart. After converting the dates from type `object` to type `datetime`.

In [138]:
# convert columns to datetime 
melted_bb['date.peaked'] = pd.to_datetime(melted_bb['date.peaked'])
melted_bb['date.entered'] = pd.to_datetime(melted_bb['date.entered'])

# take the difference between the two dates and save it in a new column entered_to_peak
melted_bb['entered_to_peak'] = melted_bb['date.peaked'] - melted_bb['date.entered']

In [139]:
melted_bb.head(5)

,artiste,track,genre,date.entered,date.peaked,week,rank,entered_to_peak
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,2,63.0,56 days
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,2,8.0,56 days
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,2,48.0,98 days
3,Madonna,Music,Rock,2000-08-12,2000-09-16,2,23.0,35 days
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,2,47.0,70 days

In [140]:
melted_bb['entered_to_peak'] = melted_bb['entered_to_peak'].dt.days # strip away the 'days'

melted_bb.head(5)

,artiste,track,genre,date.entered,date.peaked,week,rank,entered_to_peak
0,Destiny's Child,Independent Women Part I,Rock,2000-09-23,2000-11-18,2,63.0,56
1,Santana,"Maria, Maria",Rock,2000-02-12,2000-04-08,2,8.0,56
2,Savage Garden,I Knew I Loved You,Rock,1999-10-23,2000-01-29,2,48.0,98
3,Madonna,Music,Rock,2000-08-12,2000-09-16,2,23.0,35
4,"Aguilera, Christina",Come On Over Baby (All I Want Is You),Rock,2000-08-05,2000-10-14,2,47.0,70

In [141]:
melted_bb.dtypes

artiste                    object
track                      object
genre                      object
date.entered       datetime64[ns]
date.peaked        datetime64[ns]
week                        int32
rank                      float64
entered_to_peak             int64
dtype: object

Who and what music ranked 1 in Rock after peaking 35 days from entering into the competition?

In [142]:
melted_bb[['artiste','track','rank','entered_to_peak']][melted_bb['genre']=='Rock'][melted_bb['entered_to_peak'] == 35][melted_bb['rank'] == 1.0].iloc[0:1,]

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

      artiste  track  rank  entered_to_peak
1271  Madonna  Music   1.0               35

Your final dataframe should have the following columns and datatype:
- [x] artiste, string
- [x] track, string
- [x] genre, string
- [x] date.entered, datetime
- [x] date.peaked, datetime
- [x] week, integer
- [x] rank, float
- [x] entered_to_peak, int
- [x] Who and what music ranked 1 in Rock after peaking 35 days from entering into the competition. 
    * <font color='blue'>Answer </font>: Artiste: **Madonna**, track: **Music**